.navbar {
    &.bg-yellow {
        background-color: #ffef40;
    }
    .form-inline {
        width: 78%;
        margin: 0 auto;
        position: relative;
        .navbar-brand {
            margin-right: 1.5rem;
        }
        input.form-control {
            height: 43px;
            border-radius: 3px;
            &:focus {
                outline: none;
            }
        }
        button.btn {
            position: absolute;
            right: 0;
            height: 42px;
            width: 3rem;
            background: #f0f0f0 url(../../../assets/ic_Search.png);
            background-position: 15px 12px;
            background-repeat: no-repeat;
            border-radius: 3px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}