.content {
    width: 100%;
    height: auto;
    margin-top: 64px;
    padding: 3rem 0;
    .main-card {
        width: 100%;
        margin: 0 auto;
        background-color: #ffffff;
        max-width: 1184px;
    }
}